<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>

<h2>
  <%= link_to I18n.t(:budget_title), controller: :budget %>
  »
  <%= @category.name %>
</h2>

<%= form_tag do %>
  <%= hidden_field_tag 'category_id', params[:category_id] %>
  <table class='budget' id='budget-items'>
    <tr>
      <td></td>
      <th class='data'><%= I18n.t(:'budget_items.description') %></th>
      <th class='data'><%= I18n.t(:'budget_items.quantity') %></th>
      <th class='data'><%= I18n.t(:'budget_items.value') %></th>
      <th class='data'><%= I18n.t(:'budget_items.month_spec') %></th>
      <th class='data'><%= I18n.t(:'budget_items.tax_table') %></th>
    </tr>
    <% if @items.empty? %>
      <tr class='data'>
        <td>1</td>
        <td class='data'><%= text_field_tag 'budget_items[][description]', nil %></td>
        <td class='data data-number'><%= text_field_tag 'budget_items[][quantity]', nil %></td>
        <td class='data data-number'><%= text_field_tag 'budget_items[][value]', nil %></td>
        <td class='data data-number'><%= text_field_tag 'budget_items[][month_spec]', nil %></td>
        <td class='data data-number'><%= select_tag 'budget_items[][tax_table_id]', options_for_select(@tax_tables), include_blank: true %></td>
        <td class="delete"></td>
        <td class="history"></td>
      </tr>
    <% else %>
      <% @items.sort_by { |item| item.id || Float::INFINITY }.each_with_index do |item, i| %>
        <%= hidden_field_tag 'budget_items[][id]', item.id %>
        <tr class='data'>
          <td class='data data-number'><%= (i+1) %></td>
          <td class='data'><%= text_field_tag 'budget_items[][description]', item.description %></td>
          <td class='data data-number'><%= text_field_tag 'budget_items[][quantity]', item.quantity %></td>
          <td class='data data-number'><%= text_field_tag 'budget_items[][value]', item.value %></td>
          <td class='data data-number'><%= text_field_tag 'budget_items[][month_spec]', item.month_spec %></td>
          <td class='data data-number'><%= select_tag 'budget_items[][tax_table_id]', options_for_select(@tax_tables, item.tax_table_id), include_blank: true %></td>
          <td class="delete">
            <%= check_box_tag 'budget_items[][_delete]', '1', false, id: "delete-#{item.id}" %>
            <label for="delete-<%= item.id %>"><%= I18n.t('button_delete') %></label>
          </td>
          <td class="history">
            <%= link_to I18n.t('budget_items.history'), action: 'show', id: item.id %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr class='data-number data-number'>
      <td colspan='5' style='text-align: right'>
        <%= link_to I18n.t(:label_more), '#', class: 'more-budget-items icon icon-add' %>
      </td>
    </tr>
  </table>
  <div>
    <%= submit_tag %>
    <%= link_to I18n.t(:button_cancel), controller: :budget %>
  </div>
<% end %>

<script type='text/javascript'>
jQuery(function($) {

  var tax_tables = <%= select_tag('budget_items[][tax_table_id]', options_for_select(@tax_tables), include_blank: true).inspect.html_safe %>;

  function addrow() {
    var $row = $('<tr>');
    var next_number = $('table#budget-items tr').length - 1;
    $row.append('<td class="data data-number">' + next_number + '</td>');
    $row.append('<td class="data"><input type="text" name="budget_items[][description]"/></td>');
    $row.append('<td class="data data-number"><input type="text" name="budget_items[][quantity]"/></td>');
    $row.append('<td class="data data-number"><input type="text" name="budget_items[][value]"/></td>');
    $row.append('<td class="data data-number"><input type="text" name="budget_items[][month_spec]"/></td>');
    $row.append('<td class="data">' + tax_tables + '</td>');
    $row.append('<td class="delete"></td>');

    $row.insertBefore('table#budget-items tr:last');
    return false;
  }

  $('.more-budget-items').click(addrow);

  $(document)

  $(document).on('keyup', '#budget-items input', function() {
    if ($(this).closest('table').find('input').last().val() != "") {
      addrow();
    }
  });

  $(document).on('change', '#budget-items input[type=checkbox]', function() {
    if (this.checked) {
      $(this).closest('tr').addClass('delete');
    }
    else {
      $(this).closest('tr').removeClass('delete');
    }
  });

});
</script>
