<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>

<h2>
  <%= link_to I18n.t(:budget_title), controller: :budget %>
  »
  <%= link_to @item.category.name, action: 'edit', category_id: @item.category.id  %>
  »
  <%= @item.description %>
  (<%= I18n.t('budget_items.history') %>)
</h2>

<% @item.journals.order('id').each do |journal| %>
  <div class='budget-history'>
    <h3><%= journal.notes %></h3>

    <p>
    <%= journal.user.name %>,
    <%= I18n.l(journal.created_on.in_time_zone(User.current.time_zone || ::Time.zone)) %>
    </p>

    <ul>
      <% journal.details.each do |detail| %>
        <li><%= detail.property %>: <em><%= detail.old_value %></em> → <strong><%= detail.value %></strong></li>
      <% end %>
    </ul>
  </div>
<% end %>
