<%# FIXME %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>

<%= error_messages_for @tax_table %>

<%= form_tag do %>

  <%= text_field :tax_table, :name %>

  <table id='tax-table-entries' class='budget'>
    <tr>
      <th colspan='3'><%= I18n.t(:'tax_table.entries')%></th>
    </tr>
    <tr>
      <th class='data'><%= I18n.t(:'tax_table.name') %></th>
      <th class='data'><%= I18n.t(:'tax_table.variable') %></th>
      <th class='data'><%= I18n.t(:'tax_table.expression') %></th>
    </tr>
    <% if @tax_table.entries.empty? %>
      <tr class='data'>
        <td class='data'><%= text_field_tag 'tax_table[entries][][name]', nil %></td>
        <td class='data'><%= text_field_tag 'tax_table[entries][][variable]', nil %></td>
        <td class='data'><%= text_field_tag 'tax_table[entries][][expression]', nil, size: 60 %></td>
      </tr>
    <% else %>
      <% @tax_table.entries.each do |entry| %>
        <tr class='data'>
          <td class='data'><%= text_field_tag 'tax_table[entries][][name]', entry[:name] %></td>
          <td class='data'><%= text_field_tag 'tax_table[entries][][variable]', entry[:variable] %></td>
          <td class='data'><%= text_field_tag 'tax_table[entries][][expression]', entry[:expression], size: 60 %></td>
          <td><%= link_to I18n.t(:button_delete), '#', class: 'delete-entry' %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td colspan='3' class='data'>
        <%= link_to I18n.t(:button_add), '#', class: 'icon icon-add add-entry' %>
      </td>
    </tr>
  </table>

  <%= submit_tag %>
  <%= link_to I18n.t(:button_cancel), action: 'index' %>

<% end %>

<script type="text/javascript">

jQuery(function($) {

  $('.add-entry').click(function() {
    var $row = $('<tr>');

    $row.append('<td class="data"><input type="text" name="tax_table[entries][][name]"/></td>');
    $row.append('<td class="data"><input type="text" name="tax_table[entries][][variable]"/></td>');
    $row.append('<td class="data"><input type="text" name="tax_table[entries][][expression]" size="60"/></td>');

    $row.insertBefore('table#tax-table-entries tr:last');
    return false;
  });

  $('.delete-entry').click(function() {
    $(this).closest('tr').remove();
  })

})

</script>
