<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>

<h2>
  <%= link_to I18n.t(:budget_title), controller: :budget %>
  »
  <%= I18n.t(:tax_tables) %>
</h2>


<table class='budget' style='min-width: 50%'>
  <tr>
    <th class='data'><%= I18n.t(:'tax_table.name')%></th>
  </tr>
  <% @tax_tables.each do |tax_table| %>
    <tr>
      <td class='data'><%= link_to(tax_table.name, action: tax_table.global? && 'show' || 'edit', id: tax_table.id) %></td>
      <td class='delete'>
        <% if tax_table.global? %>
          <em><%= I18n.t(:'tax_table.cannot_remove_global')%></em>
          <%= link_to I18n.t(:button_copy), action: 'new', copy: tax_table.id %>
        <% else %>
          <%= link_to(I18n.t(:button_delete), { action: 'destroy', id: tax_table.id }, method: :post) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td><%= link_to I18n.t(:'tax_table.new'), { action: 'new' }, class: 'icon icon-add'%></td>
  </tr>
</table>
