<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>

<h2>
  <%= link_to I18n.t(:budget_title), controller: :budget %>
  »
  <%= link_to I18n.t(:tax_tables), action: 'index' %>
  »
  <%= @tax_table.name %>
</h2>

<table id='tax-table-entries' class='budget'>
  <tr>
    <th colspan='3'><%= I18n.t(:'tax_table.entries')%></th>
  </tr>
  <tr>
    <th class='data'><%= I18n.t(:'tax_table.name') %></th>
    <th class='data'><%= I18n.t(:'tax_table.variable') %></th>
    <th class='data'><%= I18n.t(:'tax_table.expression') %></th>
  </tr>
  <% @tax_table.entries.each do |entry| %>
    <tr class='data'>
      <td class='data'><%= entry[:name] %></td>
      <td class='data'><%= entry[:variable] %></td>
      <td class='data'><%= entry[:expression] %></td>
    </tr>
  <% end %>
</table>

