<%= labelled_fields_for :issue, @issue do |f| %>
  <%= call_hook(:view_issues_form_details_top, { :issue => @issue, :form => f }) %>

  <% if @issue.safe_attribute? 'subject' %>
    <p><%= f.text_field :subject, :size => 80, :maxlength => 255, :required => true %></p>
  <% end %>

  <% if @issue.safe_attribute? 'custom_field_values' %>
    <%= render :partial => 'cashflow_issues/form_custom_fields' %>
  <% end %>

  <% if @issue.safe_attribute?('status_id') && @allowed_statuses.present? %>
    <p><%= f.select :status_id, (@allowed_statuses.collect {|p| [p.name, p.id]}), {:required => true} %></p>

  <% else %>
    <p><label><%= l(:field_status) %></label> <%= h(@issue.status.name) %></p>
  <% end %>

<% end %>
