<% custom_field_values = @issue.editable_custom_field_values %>
<% custom_field_values.each do |value| %>
  <p>
  <%= content_tag 'label', :for => "issue_custom_field_values_#{value.custom_field.id}"  do %>
    <span><%= I18n.t('cashflow_' + value.custom_field.label) %></span>
    <%= (@issue.required_attribute?(value.custom_field_id) || value.custom_field.is_required?) ? "<span class=\"required\">*</span>".html_safe : "" %>
  <% end %>

  <% options = value.custom_field.label == "transaction_type" ? { onchange: "updateIssueFrom('#{escape_javascript project_cashflow_issue_form_path(@project, :id => @issue, :format => 'js')}')" }  : {} %>

  <%= custom_field_tag_with_options :issue, value, options %>

  </p>
<% end -%>
