<h2>
  <%= link_to I18n.t(:cashflow_title), action: :index, id: nil %>
  »
  <%= I18n.t('cashflow.edit_transaction') %>
</h2>

<%= call_hook(:view_issues_new_top, {:issue => @issue}) %>

<%= form_tag({ controller: :cashflow_issues, action: :update, id: @issue.id }, {id: 'issue-form', multipart: true}) do |f| %>
  <%= error_messages_for 'issue' %>

  <div class="box tabular">
    <div id="all_attributes">
    <%= render :partial => 'cashflow_issues/form', :locals => {:f => f} %>
    </div>
  </div>

  <%= submit_tag l(:button_save) %>
<% end %>

