<tr>
  <td>
    <%= ('&nbsp;' * 2 * level).html_safe %> <%= link_to category.name, action: 'edit', id: category.id %>
  </td>
  <td style='width: 400px;'>
    <span class='onhover'>
      <% if category.items.empty? %>
        <%= link_to I18n.t(:budget_categories_add_subcategory), { action: 'new', parent_id: category.id }, class: 'icon icon-add' %>
      <% end %>
      <%= link_to I18n.t(:button_delete), { action: 'destroy', id: category.id }, class: 'icon icon-del', method: :delete, data: { confirm: I18n.t(:budget_categories_destroy_confirmation) } %>
    </span>
  </td>
</tr>
<%= render partial: 'category', collection: category.children, locals: { level: level + 1 } %>
