<h2>
  <%= link_to I18n.t(:budget_title), controller: :budget %>
  »
  <%= link_to I18n.t(:budget_categories), action: :index %>
  »
  <%= I18n.t(:budget_categories_label_bulk_add) %>
</h2>

<blockquote>
  <%= I18n.t(:budget_categories_add_categories_in_bulk_instructions) %>
  <code><pre><%= I18n.t(:budget_categories_add_categories_in_bulk_example)%></pre></code>
</blockquote>

<% @bulk_add_suggestion = default_budget_categories_set if @categories.empty? %>

<%= form_tag(action: :bulk_add) do %>
  <div>
    <%= text_area_tag :data, @bulk_add_suggestion, rows: 16, cols: 80 %>
  </div>
  <div>
    <%= submit_tag %>
    <%# FIXME button instead? %>
    <%= link_to I18n.t(:button_cancel), action: 'index' %>
  </div>
<% end %>
