<h2>
  <%= link_to I18n.t(:budget_title), controller: :budget %>
  »
  <%= link_to I18n.t(:budget_categories), action: :index %>
  »
  <%= @budget_category.new_record? && I18n.t(:budget_categories_label_new) || I18n.t(:budget_categories_label_edit) %>
</h2>

<%= form_tag do %>
  <div class='box tabular'>
    <% if @budget_category.parent %>
      <%= hidden_field :budget_category, :parent_id, value: @budget_category.parent.id %>
      <p>
      <%= label :budget_category, :parent_id, I18n.t(:budget_categories_label_parent_category) %>
      <%= @budget_category.parent.name %>
      </p>
    <% end %>
    <p>
    <%= label :budget_category, :name %>
    <%= text_field :budget_category, :name %>
    </p>
  </div>
  <div>
    <%= submit_tag %>
    <%= link_to I18n.t(:button_cancel), action: :index %>
  </div>
<% end %>
