<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget-categories', :plugin => 'laboro' %>
<% end %>

<h2>
  <%= link_to I18n.t(:budget_title), controller: :budget %>
  »
  <%= I18n.t(:budget_categories) %>
</h2>

<% if @categories.empty? %>
  <p class='nodata'>
  <%=  I18n.t(:budget_categories_no_data) %>
  </p>
<% end %>
<table class='budget-categories'>
  <%= render partial: 'category', collection: @categories.roots, locals: { level: 0 } %>
</table>

<div>
  <%= link_to I18n.t(:budget_categories_add_category), { action: 'new' }, class: 'icon icon-add' %>
  &nbsp;
  <%= link_to I18n.t(:budget_categories_add_categories_in_bulk), { action: 'bulk_add' }, class: 'icon icon-add'%>
</div>

