<tr class='category'>
  <td>
    <%= ('&nbsp;' * (level * 2)).html_safe %>
    <% if @budget.current? && category.children.empty? %>
      <%= link_to category.name, controller: 'budget_items', action: 'edit', category_id: category.id %>
      &nbsp;
      <%= link_to content_tag('span', '', class: 'icon icon-add'), controller: 'budget_items', action: 'edit', category_id: category.id %>
    <% else %>
      <%= category.name %>
    <% end %>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td class='number'><%= number_to_currency category.total %></td>
</tr>
<% category.items.sort_by(&:id).each do |item| %>
  <tr>
    <td><!-- empty; category names--></td>
    <td><%= item.description %></td>
    <td class='number'><%= item.quantity %></td>
    <td class='number'><%= number_to_currency item.total %></td>
    <td class='number'>
      <% if item.taxes.size > 0 %>
        <em><%= link_to content_tag('span', '', class: 'icon icon-details'), '#', :class => 'toggle-taxes', 'data-toggle' => "tax-#{item.id}", title: I18n.t(:'budget_items.tax_details') %></em>
      <% end %>
      <%= number_to_currency item.total %>
    </td>
  </tr>
  <tr class='tax tax-<%= item.id %>'>
    <td></td>
    <td>&nbsp;&nbsp;Valor líquido</td>
    <td class='number'><%= item.quantity %></td>
    <td class='number'><%= number_to_currency item.value %></td>
    <td class='number'><%= number_to_currency item.total_before_taxes %></td>
  </tr>
  <% item.taxes.each do |tax| %>
    <tr class='tax tax-<%= item.id %>'>
      <td></td>
      <td>&nbsp;&nbsp;<%= tax.name %></td>
      <td class='number'><%= item.quantity %></td>
      <td class='number'><%= number_to_currency tax.result %></td>
      <td class='number'><%= number_to_currency item.quantity * tax.result %></td>
    </tr>
  <% end %>
<% end %>
<%= render partial: 'category', collection: category.children, locals: { level: level + 1 } %>
