<tr>
  <td><i class="<%= tag_class %>"></i><%= link_to label, controller: 'budget_items', action: 'show', id: item.id %></td>
  <td><%= display_journal_users(item, @diff) %></td>
  <td><%= item.category.name %></td>
  <td><%= item.description %></td>
  <td class='number'><%= item.quantity %></td>
  <td class='number'><%= item.value %></td>
  <td class='number'><%= item.month_spec %></td>
  <td class='number'><%= item.total %></td>
</tr>
