<tr class="<%= tag_class %>">
  <td><i class="<%= tag_class %>"></i><%= link_to label, controller: 'budget_items', action: 'show', id: change.new.id %></td>
  <td><%= display_journal_users(change.new, @diff) %></td>
  <td><%= change.old.category.name %></td>
  <td><%= display_change(change.old.description, change.new.description) %></td>
  <td class='number'><%= display_change(change.old.quantity, change.new.quantity) %></td>
  <td class='number'><%= display_change(change.old.value, change.new.value) %></td>
  <td class='number'><%= display_change(change.old.month_spec, change.new.month_spec) %></td>
  <td class='number'><%= display_change(change.old.total, change.new.total) %></td>
</tr>

