<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>

<h2>
  <%= link_to I18n.t(:budget_title), action: 'index' %>
  »
  <%= link_to I18n.t('budget.history'), action: 'history' %>
  »
  <small><em><%= link_to @diff.old_budget.description, action: 'view_snapshot', id: @diff.old_budget %></em></small> → <small><em><%= link_to @diff.new_budget.description, (@diff.new_budget.current? && { action: 'index'} || { action: 'view_snapshot', id: @diff.new_budget.id }) %></em></small></h2>

<% if @diff.empty? %>
  <p class='nodata'>
  <%= I18n.t('budget.empty_diff') %>
  </p>
<% else %>
  <table class='budget'>
    <tr>
      <th><%= I18n.t('budget.change') %></th>
      <th><%= I18n.t('label_user_plural') %></th>
      <th><%= I18n.t('budget_items.category') %></th>
      <th><%= I18n.t('budget_items.description') %></th>
      <th class='number'><%= I18n.t('budget_items.quantity') %></th>
      <th class='number'><%= I18n.t('budget_items.value') %></th>
      <th class='number'><%= I18n.t('budget_items.month_spec') %></th>
      <th class='number'><%= I18n.t('budget_items.total') %></th>
    </tr>
    <%= render(partial: 'diff', collection: @diff.removed, as: :item, locals: { tag_class: 'icon icon-del', label: I18n.t('budget.removed') }) %>
    <%= render(partial: 'diff', collection: @diff.added, as: :item, locals: { tag_class: 'icon icon-add', label: I18n.t('budget.added') }) %>
    <%= render(partial: 'diff_changed', collection: @diff.changed, as: :change, locals: { tag_class: 'icon icon-edit', label: I18n.t('budget.changed') }) %>
  </table>
<% end %>
