<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>


<% if params[:start_date].blank? %>

  <h2><%= link_to I18n.t(:budget_title), action: 'index' %> » <%= I18n.t('budget.schedule_expenses') %></h2>
  <%= form_tag({}, method: 'GET') do %>
    Data de início do projeto:
    <%= text_field_tag(:start_date, params[:start_date], :size => 10, id: 'start_date') %>
    <%= calendar_for('start_date') %>
    <%= submit_tag I18n.t('label_preview') %>
  <% end %>
<% else %>

  <h2><%= link_to I18n.t(:budget_title), action: 'index' %> » <%= link_to I18n.t('budget.schedule_expenses'), action: 'create_issues_preview' %> » <%= I18n.t('label_preview')%> </h2>
  <%= form_tag({ action: 'create_issues' }, method: 'POST') do %>
    <%= hidden_field_tag :start_date, params[:start_date] %>
    <%= submit_tag I18n.t('budget.schedule_expenses') + '!' %>
    <table class='budget'>
      <tr>
        <th class='text'><%= I18n.t('budget_items.description') %></th>
        <th class='number'><%= I18n.t('budget_items.value') %></th>
        <th><%= I18n.t('field_due_date') %></th>
      </tr>
      <% @issues.each do |issue| %>
        <%
            _class = 'even'
        if issue.due_date && (issue.due_date.month - @start_date.month).odd?
          _class = 'odd'
        end
      %>
    <tr class='<%= _class %>'>
      <td class='text'><%= issue.subject %></td>
      <td class='number'><%= number_to_currency issue.value, format: '%n' %></td>
      <td><%= issue.due_date && I18n.l(issue.due_date) || content_tag('em', I18n.t('budget_schedule.unscheduled')) %></td>
    </tr>
  <% end %>
    </table>
    <%= submit_tag I18n.t('budget.schedule_expenses') + '!' %>
  <% end %>
<% end %>

