<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>

<h2><%= link_to I18n.t(:budget_title), action: 'index' %> » <%= I18n.t('budget.history') %></h2>

<form>
<table class='budget' style='width: auto'>
  <tr>
    <td colspan='2'><%= I18n.t('budget.compare') %></td>
    <th class='text'><%= I18n.t('budget_title') %></th>
    <th class='number'><%= I18n.t('budget_items.total') %></th>
  </tr>
  <% first = true %>
  <% @history.each do |budget| %>
    <tr class="<%= cycle 'odd',  'even' %>">
      <td>
        <input type="radio" name='from_id' value="<%= budget.id %>"/>
      </td>
      <td>
        <input type="radio" name='to_id' value="<%= budget.id %>"/>
      </td>
      <td class='text'><%= budget.description %></td>
      <td class='number'><%= number_to_currency budget.total %></td>
    </tr>
    <% first = false %>
  <% end %>
  <tr class="<%= cycle 'odd',  'even' %>">
    <td>
      <input type="radio" name='from_id' value=''<%= @current.id %>/>
    </td>
    <td>
      <input type="radio" name='to_id' value=''<%= @current.id %>/>
    </td>
    <td class='text'><%= @current.description %></td>
    <td class='number'><%= number_to_currency @current.total %></td>
  </tr>
  <tr>
    <th colspan='4' class='text'>
      <%= submit_tag I18n.t('budget.compare') %>
    </th>
  </tr>
</table>
</form>

<script type="text/javascript">
jQuery(function($) {
  function set_valid_choices(element, other_column) {
    var $this = $(element);
    $('input[name=' + $this.attr('name') + ']').show();
    $('input[name=' + other_column + ']').each(function() {
      var $other = $(this);
      if ($this.attr('value') == $other.attr('value')) {
        $other.hide();
      } else {
        $other.show();
      }
    });
  }
  $('input[name=from_id]').click(function() {
    set_valid_choices(this, 'to_id');
  });
  $('input[name=to_id]').click(function() {
    set_valid_choices(this, 'from_id');
  });
});
</script>
