<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>

<h2>
<% if @budget.new_record? %>
  <%= I18n.t(:budget_title) %>
<% else %>
  <%= link_to I18n.t(:budget_title), action: 'index' %>
  »
  <%= I18n.t(:label_history) %>
  »
  <%= I18n.l(@budget.created_at) %>
<% end %>
</h2>


<% if @budget.categories.empty? %>
  <p>
  <%= I18n.t('budget_categories_no_data') %>
  <%= link_to I18n.t('budget_categories_add_categories_in_bulk'), controller: 'budget_categories', action: 'bulk_add'  %>
  </p>
<% else %>
  <table class='budget'>
  <tr>
    <td colspan='3'>
      <% if @budget.previous %>
        <%= link_to(I18n.t('budget.history'), { action: 'history' }, class: 'icon icon-edit') %>
      <% end %>
      <%= link_to(I18n.t('budget.schedule'), { action: 'schedule'}, class: 'icon icon-report') %>
      <%= link_to I18n.t(:budget_categories), { controller: 'budget_categories', action: 'index' }, class: 'icon icon-details' %>
      <hr/>
      <%= link_to I18n.t('budget.schedule_expenses'), { action: 'create_issues' }, class: 'icon icon-time' %>
      <%= link_to I18n.t('tax_tables'), { controller: 'tax_tables', action: 'index' }, class: 'icon icon-stats' %>
    </td>
    <td colspan='2' style='text-align: right'>
      <%= form_tag do %>
        <% if @budget.new_record? %>
          <%= submit_tag I18n.t('budget_snapshot') %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= I18n.t('budget_items.category') %></th>
    <th><%= I18n.t('budget_items.description') %></th>
    <th class='number'><%= I18n.t('budget_items.quantity') %></th>
    <th class='number'><%= I18n.t('budget_items.value') %></th>
    <th class='number'><%= I18n.t('budget_items.total') %></th>
  </tr>
  <%= render partial: 'category', collection: @budget.categories, locals: { level: 0 } %>
    <tr>
      <th><%= I18n.t('budget_items.total') %></th>
      <th></th>
      <th></th>
      <th></th>
      <th class='number'>
        <%= number_to_currency @budget.total %>
      </th>
    </tr>
  </table>
<% end %>

<script type='text/javascript'>
jQuery(function($) {
  $('.toggle-taxes').click(function() {
    $('.' + $(this).attr('data-toggle')).toggle();
    return false;
  });
});
</script>
