<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>

<h2>
  <%= link_to I18n.t(:budget_title), action: 'index' %>
  »
  <%= I18n.t('budget.schedule') %>
</h2>

<table class='budget'>
  <tr>
    <th><%= I18n.t('budget_items.category') %></th>
    <th class='number'><%= I18n.t('budget_items.total') %></th>
    <th class='number'><%= I18n.t('budget_schedule.unscheduled') %></th>
    <% @schedule.number_of_months.times do |m| %>
      <th><%= I18n.t('budget_schedule.month_n') % (m+1) %></th>
    <% end %>
  </tr>
<% @schedule.each do |row| %>
  <tr>
    <td><%= row.name %></td>
    <td class='number'><%= number_to_currency(row.total, format: '%n') %></td>
  <% row.each do |cell| %>
    <td class='number <%= cell.label %>'>
      <% unless cell.empty? %>
        <%= number_to_currency(cell.amount, format: '%n') %>
        <br/>
        <%= number_to_currency(100 * cell.amount / row.total, format: '(%n %)') %>
      <% end %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>
