table.budget-categories {
  border-collapse: collapse;
  margin: 20px 0px;
}

.budget-categories td,
.budget-items th,
.budget-items td
{
  text-align: left !important;
}

.budget-categories tr {
   border-bottom: 1px solid #eeeeec;
}

.budget-categories tr:hover {
  background: #eeeeec;
}

.budget-categories .onhover {
  display: none;
}

.budget-categories tr:hover .onhover {
  display: inline;
}
