table.budget {
  border-collapse: collapse;
  margin: 20px 0px;
}

table.budget input[type=text] {
  border: none;
}

table.budget input[type=text]:focus {
  background: #f6f6f6;
}

table.budget .data-number input {
  text-align: right;
}

table.budget th, table.budget tr.category td {
  background: #eeeeec;
}

table.budget th, table.budget td {
  border: 1px solid #ccc;
  border-spacing: 1em;
  padding: 5px;
}

table.budget .number, table.budget .data-number {
  text-align: right;
}
table.budget .text {
  text-align: left;
}

table.budget tr.tax {
  display: none;
  color: #babdb6;
}

.no-change {
  color: #babdb6;
}

.unscheduled {
  background: #d3d7cf;
}

.filled {
  background: #fcaf3e;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

table.budget tr.delete td.data, table.budget tr.delete input {
  background: #888a85;
}
table.budget tr.delete td, table.budget tr.delete input {
  text-decoration: line-through !important;
}

div.budget-history {
  background: #eeeeec;
  border: 1px solid #d3c7cf;
  padding: 0.5em;
  margin-bottom: 1em;
}
