<tr class="<%= label %>" >
  <td><%= I18n.t(label, count: 2) %></td>
  <% sums.each do | value | %>
    <td>
      <span class="value"><%= formatted_number_to_currency(value) %></span>
    </td>
  <% end %>
</tr>
<% if !collection.nil? %>

<% collection.each do |subject, transactions | %>
  <tr>
    <td><span class="description"><%= subject %></td>

    <% transactions.each do | transaction | %>
      <td>
        <span class="value"><%= formatted_number_to_currency(transaction) %></span>
      </td>
    <% end %>
  </tr>
<% end %>

<% end %>
