<table class="budget">
  <% (@starting_week..@ending_week).each do | week | %>
    <% transactions = @transactions_by_week[[@year, week]] %>
    <tr>
      <th colspan='4'><%= I18n.t(:week_of) % short_date_for_week(week, @year) %></th>
    </tr>
    <% if transactions.nil? %>
      <tr>
        <td colspan='4'>
          <em><%= I18n.t(:cashflow_no_transaction) %></em>
        </td>
      </tr>
    <% else %>
      <% transactions.each do | transaction | %>
        <tr>
          <td>
            <%= transaction.due_date && I18n.l(transaction.due_date) %>
          </td>
          <td class='number'><%= transaction.subject %></td>
          <td class='number'><%= formatted_number_to_currency(value_for_transaction(transaction, @transaction_custom_field)) %></td>
          <td>
            <% if transaction.closed_on %>
               <strong>✓</strong>
              <% if transaction.due_date && transaction.due_date != transaction.closed_on %>
                <em><%= I18n.l(transaction.closed_on) %></em>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </td>
  <% end %>
</table>
