<% (1..12).each do | month | %>
  <td>
    <% transactions = @transactions_by_month[[@year, month]] %>
    <% if transactions.nil? %>
      <span class="value"><%= formatted_number_to_currency(0) %></span>
    <% else %>
      <%  transactions.each do | transaction | %>
        <span class="description"><%= transaction.subject %></span><span class="value"><%= formatted_number_to_currency(value_for_transaction(transaction, @transaction_custom_field)) %></span>
      <% end %>
    <% end %>
  </td>
<% end %>
