<div class='laboro-toolbar'>
  <%= link_to_unless_current(I18n.t(:cashflow_report), { controller: :cashflow, action: :report }, class: 'icon icon-report') { nil } %>
  <%= link_to_unless_current(I18n.t(:cashflow_transactions), { controller: :cashflow, action: :index }, class: 'icon icon-report') { nil } %>
  <%= link_to_unless_current(I18n.t(:'cashflow.new_transaction'), { controller: :cashflow_issues, action: :new  }, class: 'icon icon-add') { nil } %>
</div>
