<tr class="<%= cycle 'odd', 'even' %>">
  <td>
    <%= link_to transaction.subject, controller: :cashflow_issues, action: :edit, id: transaction.id %>
  </td>
  <td class='number'>
    <%= formatted_number_to_currency(value_for_transaction(transaction, transaction_custom_field, 0.0)) %>
  </td>
  <td>
    <%= column_content_for(query, budget_desc, transaction) %>
  </td>
  <td>
    <%= value_for_transaction(transaction, transaction_type_custom_field) %>
  </td>
  <td>
    <%= transaction.due_date && I18n.l(transaction.due_date) %>
  </td>
  <td>
    <%= transaction.closed_on && I18n.l(transaction.closed_on) %>
  </td>
</tr>
