<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>
<% end %>

<h2>
  <%= I18n.t(:cashflow_title) %>
</h2>

<%= render 'toolbar' %>

<% if @transactions.empty? %>
  <p class='nodata'>
  <%=  I18n.t(:cashflow_no_transaction) %>
  </p>
<% else %>
  <%= error_messages_for 'query' %>
  <table class='budget'>
    <thead>
      <%= sort_header_tag('subject', :caption => I18n.t(:field_subject)) %>
      <%= sort_header_tag(@custom_field_desc, :caption => I18n.t(:field_value)) %>
      <%= sort_header_tag(@budget_item_field_desc, :caption => I18n.t(:'budget_items.category')) %>
      <%= sort_header_tag(@transaction_type_field_desc, :caption => I18n.t(:cashflow_transaction_type)) %>
      <%= sort_header_tag('due_date', :caption => I18n.t(:field_due_date)) %>
      <%= sort_header_tag('closed_on', :caption => I18n.t(:field_closed_on)) %>
    </thead>
    <tr>
      <%= form_tag({ :controller => 'cashflow', :action => 'index', :project_id => @project }, method: :get) do %>
        <th><%= text_field_tag :subject, params[:subject] %></th>
        <th class='number'><%= text_field_tag @custom_field_desc, params[@custom_field_desc] %></th>
        <th><%= cashflow_select_tag @budget_item_field_desc, params, @query %></th>
        <th><%= cashflow_select_tag @transaction_type_field_desc, params, @query %></th>
        <th colspan='2'> <%= submit_tag("Filtrar") %></th>
      <% end %>
    </tr>
    <% if @query.valid? %>
    <%= render partial: 'transaction', collection: @transactions, locals: { transaction_custom_field: @transaction_custom_field, transaction_type_custom_field: @transaction_type_custom_field, budget_item_custom_field: @budget_item_custom_field, budget_desc: @budget_item_field_desc, query: @query } %>
    <tr class="total">
      <th><%= I18n.t(:label_total) %></th>
      <th class='number'><%= formatted_number_to_currency(@sum_of_transaction_values) %></th>
      <th colspan=4></th>
    </tr>
    <% end %>
  </table>
  
  <% other_formats_links do |f| %>
    <%= f.link_to 'CSV', :url => params.merge(description: 1) %>
    <%= f.link_to 'PDF', :url => params %>
  <% end %>
<% end %>

