<%= stylesheet_link_tag 'budget', :plugin => 'laboro' %>

<h2>
  <%= link_to I18n.t(:cashflow_title), controller: :cashflow %>
  »
  <%= I18n.t(:cashflow_report) %>
</h2>

<%= render "toolbar" %>

<table class="budget">
  <tr>
    <th colspan='<%= (params[:month].nil? or params[:month].empty?) && 13 || 1 %>'>
      <%= form_tag({}, method: 'GET') do %>
        <%= select_year(@year, {prefix: ''}, onchange: "this.form.submit();" ) %>
        <%= select_month(params[:month].to_i, {prefix: '', prompt: l(:all_months)}, onchange: "this.form.submit();" ) %>
        <%= submit_tag(I18n.t(:select_period)) %>
      <% end %>
    </th>
  </tr>

  <% if(params[:month].nil? or params[:month].empty?) %>
    <tr>
      <% I18n.t('date.month_names').each do | month | %>
        <th class="month"><%= month %></th>
      <% end %>
    </tr>
    <% [['credits', @credits_sum, @credits_by_subject], ['debts', @debts_sum, @debts_by_subject], ['month_balance', @period_balance], ['current_balance', @current_balance]].each do |label, sums, collection | %>
      <%= render partial: 'category', locals: { sums: sums, label: label, collection:  collection, transaction_custom_field: @transaction_custom_field } %>
    <% end %>

    <% other_formats_links do |f| %>
      <%= f.link_to 'PDF', :url => params %>
    <% end %>
</table>

<% else %>
  </table>
  <%= render partial: 'report_by_week', locals: {  transaction_custom_field: @transaction_custom_field } %>
<% end %>
